h1{
    color: #0b6968;
}
.default h2{
    font-size: 18px;
    color: red;
}
.card,.App{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
p{
    color: #333;
    text-align: center;
}
.card h2{
    color: #008380;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid;
    text-align: center;

}